
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/

###< symfony/framework-bundle ###

!/var/data/*

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/.idea/
